*
{
    padding:20px;
}
.name
{
    color:black;
    font-size:50px;
    text-align: center;
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card
{
    height:30vh;
    width:45vw;
    background-color:white;
    
}
.para
{
    font-size:25px;
    font-family:cursive;
}
.image1
{
    height:40vh;
    width:40vw;

}
.para1
{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}
.image2
{
    height:80vh;
    width:50vh;
}
.para3
{
    font-size:17px;
    font-family:monospace;
}
.head1
{
    font-family:sans-serif;
}
.head2
{
    font-family:cursive;
}
.para4
{
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-cont
{
    display:flex;
    flex-direction: row;
    justify-content:center;
    justify-content:space-evenly;
    
}
.position
{
    display: flex;
    flex-direction: column;
    width:50%;


}
.image3
{
    width:200px;
    border-radius:5px;

}.image4
{
    height:100vh;
    width:40vw;
}
.end
{
    text-align:center;
    
}